<a href="{{ href }}"
   style="
             display:inline-flex;
             align-items:center;
             gap:0.5rem;
             border-radius:0.75rem;
             background-color:#8cad29;
             padding:0.5rem 0.75rem;
             line-height:1.42857;
             font-size:1rem;
             font-weight:700;
             color:#fff;
             cursor:pointer;
             transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke;
             transition-timing-function:cubic-bezier(.4,0,.2,1);
             transition-duration:.15s;
             text-decoration:none;
">
    {{ label }}
</a>