<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <base target="_blank">

    <style>
        @media screen and (max-width: 600px) {
            .wrap {
                max-width: auto;
            }

            .gutter {
                padding: 10px;
            }
        }
    </style>
</head>
<body style="background-color: #8cad29; font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, sans-serif; font-size: 17px; line-height: 26px; margin: 0; color: #444;">
{% include 'mailing/components/gutter_padding.html' %}

<div class="wrap"
     style="background-color: #FFFFFF; padding: 30px; max-width: 500px; margin: 0 auto; border-radius: 0.75rem;">


    {% block content %}{% endblock %}
    {% include 'mailing/components/footer.html' %}
</div>

{% include 'mailing/components/gutter_padding.html' %}

</body>
</html>
